.SideMenu {
  position: fixed;
  display: flex;
  justify-content: space-between;
  z-index: 3;
  top: 0;
  box-sizing: border-box;
  width: 753px;
  height: 100vh;
  padding-left: 64px;
  padding-right: 102px;
  font-family: Libre Baskerville;
  background-color: #02040a;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: left 0.1s ease-out;
}

.col {
  width: 239px;
}

.SideMenu.show {
  left: 0;
}

.SideMenu.hide {
  left: -753px;
}

.SideMenu header {
  display: flex;
  box-sizing: border-box;
  height: 125px;
  padding-top: 35px;
  border-bottom: 1px solid #4863aa;
}

.SideMenu h2 {
  width: 100%;
  position: relative;
  left: -32px;
  margin: 0;
  padding: 0;
  color: #7284b6;
}

.closeButton {
  position: relative;
  left: -44px;
  display: block;
  width: 33px;
  height: 27px;
  font-size: 0;
  background-image: url(../../../assets/images/closeIcon.svg);
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

.areaListContainer {
  height: 100%;
}

.areasList {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  padding-top: 17px;
  flex-direction: column;
  border-bottom: 1px solid #4863aa;
}

.menu .areasList {
  border-bottom: none;
}

.areaLi {
  margin-bottom: 13px;
}

.menu .areaLi {
  padding-top: 27px;
  padding-bottom: 36px;
  border-bottom: 1px solid #4863aa;
}

.menu .areaLi:last-child {
  border-bottom: none;
}

.areaLink {
  text-decoration: none;
  color: #6b7cab;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}

.areaLink:hover {
  text-decoration: underline;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 84px;
  white-space: pre-wrap;
}

.capitalLetter {
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
}
