.CityMap {
  display: flex;
}

.map {
  position: fixed;
  top: 56px;
  bottom: 273px;
  left: 0;
  width: 50%;
  overflow: hidden;
}

.svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background: linear-gradient(180deg, #4863aa 72.92%, #00030b 100%);
  path {
    cursor: pointer;
    &:hover {
      fill: #324370;
    }

    &.noHover {
      pointer-events: none;
      &:hover {
        fill: none;
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .CityMap {
    display: block;
  }

  .map {
    width: 100%;
    bottom: 450px;
  }
}

@media only screen and (max-width: 500px) {
  .map {
    width: 100%;
    bottom: 470px;
  }
}
