.Communities {
  display: flex;
  height: 250px;
  padding-left: 10px;
  position: relative;
  transition: left 0.3s ease-out;
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% - 10px);
}
