.StoryPopup {
  position: fixed;
  top: 20px;
  left: 20px;
  right: 34px;
  bottom: 20px;
  background: linear-gradient(
    270.31deg,
    #00030b 112.91%,
    rgba(57, 71, 104, 0.182128) 150.05%,
    rgba(70, 86, 125, 0) 150.07%,
    rgba(17, 27, 52, 0.59375) 150.08%
  );
}
